<html>
    <head>
        <title>Bitcoin-Argentina</title>
    </head>
    <style>
    </style>
    <body>
        pronto, un site para divulgar el uso de bitcoin en argentina
        <iframe width="853" height="510" src="http://www.youtube.com/embed/PN0oqKUk7kY" frameborder="0" allowfullscreen></iframe>
    </body>
</html>
