<html>
    <head>
        <title>Bitcoin-Argentina</title>
    </head>
    <style>
    </style>
    <body>
        <p>
        pronto, un site para divulgar el uso de bitcoin en argentina
        </p>
        <p>
        <iframe width="853" height="510" src="http://www.youtube.com/embed/PN0oqKUk7kY" frameborder="0" allowfullscreen></iframe>
        </p>
    </body>
</html>
