<html>
    <head>
        <title>Bitcoin-Argentina</title>
    </head>
    <style>
    </style>
    <body>
        <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.bitcoin-argentina.com.ar&amp;width=600&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=true&amp;header=true&amp;height=427" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:600px; height:427px;" allowTransparency="true"></iframe>
    </body>
</html>
