<html>
    <head>
        <title>Cumple López</title>
    </head>
    <style>
        body {
            font-size: 30px;
        }
    </style>
    <body>
        <script language="JavaScript">
            TargetDate = "06/13/2011 0:00 AM";
            BackColor = "palegreen";
            ForeColor = "navy";
            CountActive = true;
            CountStepper = -1;
            LeadingZero = true;
            DisplayFormat = "%%D%% días, %%H%% horas, %%M%% minutos, %%S%% segundos.";
            FinishMessage = "Hoy es el cumple de López!!!";
        </script>
        <script language="JavaScript" src="http://scripts.hashemian.com/js/countdown.js"></script>
    </body>
</html>
