<p>
    <table width="100%">
      <tr>
        <td align="left">
          <%= t('.copyright', :year => Time.now.year,
                :site_name => RefinerySetting.find_or_set(:site_name, "Company Name")) %>
        </td>
        <td align="right">
          Donaciones: 162LBe9abGYTCEKpS5fECBbMoMEaU6ar4g
        </td>
      </tr>
    </table>
</p>
